<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Froq is lord</title>
</head>
<body>
    <div>
        <h1>Post User to API</h1>
        <form id="create" method="post">
            <input type="text" id="name" placeholder="Name"/>
            <input type="date" id="birthday" placeholder="Birthday"/>
            <input type="email" id="email" placeholder="Email"/>
            <input type="text" id="gender" placeholder="Gender"/>
            <input type="text" id="country" placeholder="Country"/>
            <input type="text" id="password" placeholder="Password"/>
            <button type="submit" name="Submit"> Post user</button>
        </form>
    </div>
    <div>
        <h1>Get user by name</h1>
        <button type="button" id="getUsers">Get User</button>
    </div>
   
    <div>
        <form id="login", method="post">
        <h1>Login</h1>
        <input type="text" id="login_email" placeholder="Email"/>
        <input type="text" id="login_password" placeholder="Password"/>
        <button type="submit" name="login1"> Login</button>
        </form>
    </div>
   
    <script src="js/index.js"></script>
</body>
</html>